
{
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: rgba(42,231,13,0.1)
}

.header {
    background: rgba(255, 255, 255, 0.71);
    height: 20pc;
    color: #58257b;
}


.footer {
    background-color: rgba(212, 197, 222, 0.42);
    text-align: center;
    padding-top: 10px;
}

.imgHot {
    width: 100%;
    height: 20pc;
}





