
{
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: rgba(42,231,13,0.1)
}

.header {
    height: 20%;
}


.footer {
    text-align: center;
    padding-top: 10px;
    height: 100px;
}

.imgHot {
    width: 100%;
    height: 20%;
}





