table,td,th{
    border: #fdf8f8 solid 1px;
}
table{
    border-collapse: collapse;
    text-align: center;
}

.footer {
    background-color: rgba(212, 197, 222, 0.42);
    text-align: center;
    padding-top: 10px;
}

